* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}

body,
html {
      background-color: #1a1a1a;
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}

.container {
      padding: 20px;
      background-color: transparent;
      border-radius: 10px;
      border: 3px solid #ff6a00;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 600px;
}

.container h1 {
      font-size: 10rem;
      color: #ff6a00;
}

.container .buttons {
      display: flex;
      gap: 20px;
      margin-top: 10px;
}

.container .buttons button {
      padding: 10px 20px;
      background-color: transparent;
      color: #ff6a00;
      border: 3px solid #ff6a00;
      border-radius: 10px;
      transition: all 0.4s ease;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
}

.container .buttons button:hover {
      background-color: #ff6a00;
      color: white;
      border-color: white;
      transform: scale(1.12);
}